<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <script>
        function remove(id){
	        var xhttp = new XMLHttpRequest();
	        xhttp.onload = function () {
	        	console.log(xhttp.responseText);
	        	location.reload();
	        }
	       
	        xhttp.open("DELETE", "/remove/"+id, true);
	        xhttp.setRequestHeader("X-CSRF-TOKEN", document.getElementsByName("_csrf")[0].value);
	        xhttp.send();
        }
        </script>
    </head>
    <body>
        <h1>List of customers</h1>
        <table>
		    <tr data-th-each="customer : ${customers}">
	    	
		        <td data-th-text="${customer.lastname}">...</td>
		        <td data-th-text="${customer.firstname}">...</td>
		        <td><button th:onclick="'remove(\''+${customer.id}+'\')'">remove</button></td>
		        
		    </tr>
		</table>
		<a th:href="@{/addCustomer}">add new customer</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>